<div class="container">
    <h2>What is Bitcoin?</h2>
    Bitcoin is an experimental digital currency that enables instant payments to anyone, anywhere in the
    world. Bitcoin uses peer-to-peer technology to operate with no central authority: managing transactions
    and issuing money are carried out collectively by the network. Bitcoin Core is the name of open source
    software which enables the use of this currency.

    For more information read the original Bitcoin whitepaper.<a
        href="https://bitcoin.org/en/bitcoin-paper">whitepaper</a>
    <h2>Bitcoin Explorer</h2>
    Welcome to Bitcoin Explorer. In this site, you can get information and blockchain data about Bitcoin
    (BTC).
    <ol>
        <li>Blockchain information for Bitcoin (BTC) including historical blocks, the most recently blocks
            infomation, and data for the latest transactions.
        </li>
        <li>
            Mining information for Bitcoin (BTC) including block template, network hash per second,
            prioritise transaction,
            and block and header of submit.
        </li>
        <li>Network information and functions for Bitcoin (BTC) including add peer node, clear banned,
            disconnect from a peer,
            show network information, show peer information and ping a node address.
        </li>
        <li>
            Wallet functions for Bitcoin（BTC）including dump private key, dump wallet, get balance by
            address,
            get a new address, and get wallet information.
        </li>
        <li>
            ... ...
        </li>
    </ol>
    <h2>Links</h2>
    If you want get more information about Bitcoin（BTC), you can visited these links.
    <p><a href="https://bitcoin.org/en/">Bitcoin</a></p>
    <p><a href="https://bitcoin.org/en/bitcoin-paper">Bitcoin White Pager</a></p>
    <p><a href="https://github.com/bitcoin/bitcoin">github.com</a></p>
    <p><a href="https://www.blockchain.com/explorer/">Blockchain.com</a></p>
</div>